# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyd
*.pyc

# Setuptools / build
dist/
build/
*.egg-info/

# Virtual environments
.env/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
